#player_char {
    position: absolute;
    transition-property: transform;
    transition-duration: 50ms;
    transition-timing-function: linear;
}

#player_platform {
    position: absolute;
    margin: auto;
}

.platform_ladder, .platform_bomb {
    position: absolute;
}

.bomb_fireball {
    position: absolute;
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: linear;
}

.enemy_monster {
    position: absolute;
    transition-property: transform;
    transition-duration: 2000ms;
    transition-timing-function: linear;
}

#master-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    height: 60vh;
}

#game-screen {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Start screen css*/
img {
    width: 100vw;
    height: 20vh;
}

/* Game screen css */

#game-score, #game-timer {
    fill: white;
    font-family :'Londrina Solid', cursive;
    font-size: 18px;
}

