img#game-title{
	width: 100vw;
	height: 80vh;
}

button#instructions {
	position: fixed;
	top: 50%;
	left: 35%;
	font-size: 90%;
	font-family: 'Londrina Solid', cursive;
}

button#start {
	position: fixed;
	top: 50%;
	left: 60%;
	font-size: 90%;
	font-family: 'Londrina Solid', cursive;
}