.game-over {
    fill: white;
    font-family: 'Londrina Solid', cursive;
    font-size: 90px;
    text-anchor: middle;
}

.game-over-msg {
    fill: gray;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    width: 500px;
    height: 200px;
}

.final-score {
    fill: #565264;
    font-family: 'Londrina Solid', cursive;
    font-size: 35px;
}

/* Animating the buttons upon hover using transition */
button {
    background-color: #4a4e69;
    height: 34px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;  
    transition: 0.3s;
}

button:hover {
    background-color: #22223b;
    width: 131px;
    height: 35px;
}


